body{
    background-color: rgb(186, 186, 186);
    height: 100%;
}
.content{
        border-radius: 10px;
        padding: 13px;
        margin: 13px;
        border: solid 0px #cecece;
        background-color: #FFF;   
}

.url-box{
    width: 800px;
    height: 430px;
    background-color: white;
    padding-top: 14px;
    border: solid 0px #E6E6E6;
    text-align: left;
    margin-left: -5px;
}
h1{
    font-size: 24px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.work{
    margin: 24px;
}
#long{
    border-radius: 10px;
    width: 100%;
    font-size: 34px;
    background-color: #E6E6E6;
}
#submit{
    width: 204px;
    height: 36px;
    margin-right: 5px;
    display: block;
    font-size: 18px;
}

.custom{
    margin-top: 14px;
    margin-bottom: 14px;
}
#custom-url{
    display: none;
}
.results{
    margin: 24px;
    background-color: #FBF9EE;
    background-color: #fffb00;
    padding: 14px;
    border: 1px solid #FCEFA1;
}

